In [1]:
import pandas as pd

In [6]:
data = pd.read_csv ("python_assignment_1.csv")

In [9]:
data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560